:root {
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primery-text-color: #757575;
  --accent-color: #2196F3;
  --header-text-color: #212121;
  --header-contacts-color: #757575;
  --bg-color: #2F303A;
  --icon-color: #AFB1B8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-left: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--primery-title-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border: 1px solid #ECECEC;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: block;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: center;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .header-contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.header-contacts__link,
.header-list__link {
  display: block;
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: block;
    margin-left: auto;
  }
}

.header-list .link.current {
  color: var(--accent-color);
}

.mob-menu__list .link.current {
  color: var(--accent-color);
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc( 16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-list__item {
    display: flex;
    align-items: center;
  }
  .header-contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--header-contacts-color);
}

.header-contacts-list__link:hover, .header-contacts-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: -1px;
  }
}

.menu-button {
  height: 40px;
  width: 40px;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mob-bottom-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-bottom-social__item:not(:last-child) {
  margin-right: 20px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  transform: translatex(150%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translatex(0);
}

.menu-button.js-close-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mob-menu__list {
  display: block;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.mob-menu__bottom-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mob-menu__tel {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mob-menu__mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-bottom-social {
  display: flex;
  justify-content: flex-start;
}

.mob-bottom-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-bottom-social__item:not(:last-child) {
  text-align: start;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.logo {
  margin: 0px 93px 0px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.header__logo {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__logo--white {
  color: var(--header-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 0px;
}

.hero {
  background: var(--bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1px.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2px.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-1px.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2px.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desc-2px.jpg);
  }
}

.hero-container {
  max-width: 696px;
  align-items: center;
  text-align: center;
}

.hero-container__title {
  display: flex;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-title-color);
}

@media screen and (max-width: 1199px) {
  .hero-container__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero-container__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primery-title-color);
}

.hero-container__btn:hover, .hero-container__btn:focus {
  background: #0a68b6;
}

.btn {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  height: 100%;
  background-color: var(--primery-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  border: 1px solid var(--accent-color);
}

.modal-field__input-wrapper {
  display: block;
  position: relative;
  flex-direction: column;
}

.modal-field__modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__modal-input:hover, .modal-field__modal-input:focus {
  border-color: var(--accent-color);
}

.modal-field__modal-input:hover:hover + .modal-field__input-icon,
.modal-field__modal-input:hover:focus + .modal-field__input-icon, .modal-field__modal-input:focus:hover + .modal-field__input-icon,
.modal-field__modal-input:focus:focus + .modal-field__input-icon {
  fill: var(--accent-color);
}

.modal-field__check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--header-contacts-color);
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.modal-field__check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 9px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__check-text span:hover, .modal-field__check-text span:focus {
  border-color: var(--accent-color);
}

.modal-field__checkbox:checked + .modal-field__check-text span {
  background: var(--accent-color);
  border: none;
}

.modal-field__input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: calc(23 / 20);
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field__input-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--header-contacts-color);
  display: block;
  margin-bottom: 4px;
}

.modal-field__text-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  background: transparent;
  padding: 12px 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__text-input:hover, .modal-field__text-input:focus {
  border-color: var(--accent-color);
}

.modal-field__btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-title-color);
  cursor: pointer;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__btn:hover, .modal-field__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-field__conditions-link {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-color);
}

.modal-field__check-icon {
  width: 16px;
  height: 15px;
  border-color: #212121;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__container {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.about-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.about-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-title-color);
}

.about-list__thumb {
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list__thumb-icon {
  display: flex;
  align-items: center;
}

.about-list__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  color: var(--primery-text-color);
}

.services__container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 50px;
  color: var(--secondary-title-color);
}

.services {
  padding-top: 0px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .services__container {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .services__container {
    display: none;
  }
}

.services-title__list {
  display: flex;
  list-style: none;
  margin-left: -30px;
}

.services-title__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.services-title__text-thumb {
  position: absolute;
  top: 224px;
  left: 0;
  right: 0;
  bottom: 0;
}

.services-title__item {
  position: relative;
  display: block;
}

.services-title__text-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primery-title-color);
  margin-bottom: 0px;
}

.team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__container {
  align-items: center;
  text-align: center;
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 50px;
  color: var(--secondary-title-color);
}

.team-list__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 10px;
  color: var(--secondary-title-color);
}

.team-list__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  color: var(--primery-text-color);
}

.team-social__item {
  width: 44px;
  height: 44px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--primery-title-color);
}

.team-social__list {
  display: flex;
  justify-content: center;
}

.team-list__item-card {
  background: var(--primery-title-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__container {
  align-items: center;
}

.clients-list {
  margin-bottom: -30px;
}

@media screen and (max-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: center;
    align-items: center;
    margin: -15px;
  }
}

.clients-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.clients-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  fill: var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients__container-title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--header-text-color);
}

@media screen and (min-width: 1200px) {
  .clients__container-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.clients__list-item {
  display: flex;
}

.footer {
  background: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    text-align: center;
  }
}

.footer__container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .footer__total {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer__total {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.footer__main-logo {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc( 31 / 26);
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer__logo {
  color: var(--primery-title-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__add-block {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__add-block {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__block {
    justify-content: center;
    text-align: center;
  }
}

.footer__contacts-address {
  font-style: inherit;
}

.contacts-list__link {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  color: var(--primery-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .contact__list {
    margin-bottom: 60px;
  }
}

.contacts-list__color {
  color: rgba(255, 255, 255, 0.6);
}

.footer__add-title, .footer-subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-title-color);
}

.footer-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-list {
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__add {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__add {
    display: block;
    box-sizing: border-box;
    width: 206px;
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    width: 231px;
    margin-right: 70px;
  }
}

.footer-list__icon {
  width: 20px;
  height: 20px;
}

.footer-list__add-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primery-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__social-link:hover, .footer-list__social-link:focus {
  background-color: var(--accent-color);
}

.footer-subscription {
  margin-left: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscription {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-subscription__online {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription__online {
    display: flex;
  }
}

.footer-subscription__input {
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: none;
  color: var(--primery-title-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription__input:hover, .footer-subscription__input:focus {
  border-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-subscription__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscription__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription__input {
    width: 358px;
  }
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border: none;
  color: var(--primery-title-color);
}

.footer-subscription__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription__btn:hover, .footer-subscription__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .footer-subscription__btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}

.footer-subscription__icon {
  margin-left: 10px;
}

.portfolio-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 50px;
  }
}

.portfolio-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-list__item {
    margin-bottom: 15px;
  }
}

.portfolio-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-title-color);
  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__btn:hover, .portfolio-list__btn:focus {
  background: var(--accent-color);
  color: var(--primery-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
  background: var(--accent-color);
  color: var(--primery-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .cases-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .cases-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .cases-list {
    margin: -15px;
  }
}

.cases-list__item {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .cases-list__item {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .cases-list__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cases-list__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.cases-list__item-box {
  background-color: var(--primery-title-color);
  border: 1px solid #EEEEEE;
  flex-grow: 1;
  padding: 20px 24px 20px 24px;
  border-top: none;
}

.cases-list__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-title-color);
}

.cases-list__item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  margin: 0px;
  color: var(--primery-text-color);
}

.cases-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-list__link:hover, .cases-list__link:focus {
  box-shadow: 0px 1px 1px rgba(212, 159, 159, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cases-list__top-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background-color: var(--accent-color);
  color: var(--primery-title-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-list__link:hover .cases-list__top-text,
.cases-list__link:focus .cases-list__top-text {
  transform: translateY(0);
}

.cases-list__top-wraper {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */