.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__container {
    align-items: center; 
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list__item {
    & + & {
    margin-left: 30px;
    }
}

.clients-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--icon-color);
    .clients-list__link:hover &,
    .clients-list__link:focus &{
        fill: var(--accent-color);
    }
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-color);
    fill: var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border-color: var(--accent-color);
    }
}

.clients__container-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--header-text-color);
}

.clients__list-item {
    display: flex;
}