.footer-subscription {
    margin-left: 0 auto;
}

.footer-subscription__online {
    display: flex;
}

.footer-subscription__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: none;
    color: var(--primery-title-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border-color: var(--accent-color);
    }
}

.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    border: none;
    color: var(--primery-title-color);
}

.footer-subscription__btn {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.footer-subscription__icon {
    margin-left: 10px;
}