.footer__contacts-address {
    font-style: inherit;
}

.contacts-list__link {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
    color: var(--primery-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: var(--accent-color);
    }
}

.contacts-list__item {
    &:not(:last-child){
        margin-bottom: 9px;
    }
}

.contacts-list__color {
    color: rgba(255, 255, 255, 0.6);
}