.header {
    // font-weight: 500;
    // font-size: 14px;
    // line-height: calc( 16 / 14 );
    // letter-spacing: 0.02em;  
    border: 1px solid #ECECEC; 
     @include font (inherit, 14px, 500, 1.14, 0.02em, inherit);
}

.header__container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: block;
    align-items: center;
}

.header-list {
    // display: flex;
    // align-items: center;
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
            display: flex;
            align-items: center;
    }
}

.header-list__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.header-contacts-list {
    // display: flex;
    // align-items: center;
    // margin-left: auto;
    @media screen and (min-width: 1200px){
         display: flex;
        align-items: center;
        margin-left: auto;
    }
}   

.header-contacts__link,
.header-list__link {
    display: block;
}

.header-contacts__link{
    @media screen and (min-width: 768px) {
        display: block;
        margin-bottom: 10px;
    }
}

.header__contacts {
    // display: block;
    // margin-left: auto;
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
    }
}

.header-list {
    .link.current {
        color: var(--accent-color);
    }
}
.mob-menu__list {
    .link.current {
        color: var(--accent-color);
    }
}

.header-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc( 16 / 14 );
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--header-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: var(--accent-color);
    }
}

.header-contacts-list__item {
    // display: flex;
    // align-items: center;
    // &:not(:last-child) {
    //     margin-right: 50px;
    // }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        &:not(:last-child){
        margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 1200px){
        display: flex;
        align-items: center;
        &:not(:last-child) {
             margin-right: 50px;
        }
    }
}

.header-contacts-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    // padding-top: 32px;
    // padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--header-contacts-color);
    &:hover, &:focus{
        color: var(--accent-color);
    }
    @media screen and (min-width: 1200px){
        padding-top: 32px;
        padding-bottom: 32px;
    }
}


.header-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.current {
    color: var(--accent-color);
    @media screen and (min-width: 1200px) {
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        display: block;
        bottom: -1px;    
        }
    }
}

.menu-button{
    min-height: 40px;
    min-width: 40px;
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mob-bottom-social__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-menu-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-bottom-social__item{
    &:not(:last-child){
        margin-right: 20px;
     }
}
// .menu-button .icon-close{
//     display: none;
// }

// .menu-button.is-open .icon-close{
//     display: block;
// }

// .menu-button.is-open .icon-menu {
//     display: none;
// }

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    transform: translatex(150%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open{
    transform: translatex(0);
}

.menu-button.js-close-menu{
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
}

// .menu-container .menu-button{
//     position: absolute;

// }

.mob-menu__list{
display: block;
margin-bottom: 302px;
}

.mob-menu__item:not(:last-child){
    margin-bottom: 32px;
}

.mob-menu__link{
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.mob-menu__bottom-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.mob-menu__tel{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-bottom: 32px;
}

.mob-menu__mail{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: #757575;
    margin-bottom: 64px;
}

.mob-bottom-social{
    display: flex;
    justify-content: flex-start;
}

.mob-bottom-social__link{
font-weight: 500;
font-size: 18px;
line-height: calc(22 / 18);
letter-spacing: 0.02em;
color: #2196F3;
}

.mob-bottom-social__item {
    &:not(:last-child){
        text-align: start;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33,33,33,0.2);
    }
}