.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc( 31 / 26 );
    color: var(--accent-color);
    margin: 0px 93px 0px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__logo--white {
    color: var(--header-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 0px;
}