.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden{
    opacity: 0;
    pointer-events: none;
        .modal{
        transform: translate(-50%, -50%) scale(0.9);
        }
    }   
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--primery-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.modal__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border: 1px solid var(--accent-color);
    }
}

.modal-field__input-wrapper {
    display: block;
    position: relative;
}

.modal-field__modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background: transparent;
    padding-left: 42px;
    padding-right: 20px;
    outline: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border-color: var(--accent-color);
        &:hover + .modal-field__input-icon,
        &:focus + .modal-field__input-icon{
            fill: var(--accent-color);
        }
    }
}

.modal-field__check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--header-contacts-color);
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.modal-field__check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 9px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border-color: var(--accent-color);
    }
}

.modal-field__checkbox {
    &:checked + .modal-field__check-text span {
        background: var(--accent-color);
        border:none;
    }    
}

.modal-field__input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-field__input-label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--header-contacts-color);
    display: block;
    margin-bottom: 4px;
}

.modal-field__text-input {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    background: transparent;
    padding: 12px 16px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    outline: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        border-color: var(--accent-color);
    }
}
  
.modal-field__btn {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primery-title-color);
    cursor: pointer;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px 55px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.modal-field__conditions-link {
    margin-left: 4px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);
}

.modal__close-icon {
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        fill: var(--accent-color);
    }
}

.modal-field__check-icon {
    width: 16px;
    height: 15px;
    border-color: #212121;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}